.mat-mdc-card-header
.mat-mdc-card-actions
    width: 100%
    align-items: center

.detail__todo
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    padding: 0 1em

.app-todo
    flex: 1 1 100%

.detail_addBtn
